<!DOCTYPE html>
<html>
  <head>
    <title>Jiraj</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body class="grid-container">
    <header class="row">
      <div>
        <a class="brand" href="index.html">Flash</a>
      </div>
      <div>
        <a class="cart" href="cart">Cart</a>
        <a class="signin" href="signin">SignIn</a>
      </div>
    </header>
    <main>
      <div class="product-container">
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="card">
            <a href="bulb.html"><img class="bulb" src="./images/bulb.jpg" /></a>
            <div class="card-body">
              <a href="bulb.html"><h2>9 Watt bulb</h2></a>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star"></i></span>
              <span><i class="fa fa-star-half-o"></i></span>
              <p class="price">₹ 55</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="base">All rights reserved</footer>
  </body>
</html>
