<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products">FLASH</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" href="/products/new">New Products</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currentUser){ %>
        <a href="/users/login" class="nav-link">Login</a>
        <a href="/users/register" class="nav-link">Register</a>
        <% }else{ %>
        <button class="btn btn-success"><%= currentUser.username %></button>
        <a href="/users/logout" class="nav-link">logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
